In [3]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [59]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import datetime as dt
from datetime import timedelta

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_1 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2010-06-01', '2010-06-30')).all()
results_2 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2011-06-01', '2011-06-30')).all()
results_3 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2012-06-01', '2012-06-30')).all()
results_4 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2013-06-01', '2013-06-30')).all()
results_5 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2014-06-01', '2014-06-30')).all()
results_6 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2015-06-01', '2015-06-30')).all()
results_7 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2016-06-01', '2016-06-30')).all()
results_8 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2017-06-01', '2017-06-30')).all()

In [60]:
#  3. Convert the June temperatures to a list.
june_temp=list(results_1)
june_temp.extend(results_2)
june_temp.extend(results_3)
june_temp.extend(results_4)
june_temp.extend(results_5)
june_temp.extend(results_6)
june_temp.extend(results_7)
june_temp.extend(results_8)

In [99]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(june_temp, columns=['date','june temperature'])
df.set_index(df['date'], drop=True, inplace=True)

In [100]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = df.sort_index()
df.describe()

       june temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [101]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_1 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2010-12-01', '2010-12-31')).all()
results_2 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2011-12-01', '2011-12-31')).all()
results_3 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2012-12-01', '2012-12-31')).all()
results_4 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2013-12-01', '2013-12-31')).all()
results_5 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2014-12-01', '2014-12-31')).all()
results_6 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2015-12-01', '2015-12-31')).all()
results_7 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2016-12-01', '2016-12-31')).all()
results_8 =session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date.between('2017-12-01', '2017-12-31')).all()

In [102]:
# 7. Convert the December temperatures to a list.
dec_temp=list(results_1)
dec_temp.extend(results_2)
dec_temp.extend(results_3)
dec_temp.extend(results_4)
dec_temp.extend(results_5)
dec_temp.extend(results_6)
dec_temp.extend(results_7)
dec_temp.extend(results_8)
dec_temp.extend(results_9)

In [103]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(dec_temp, columns=['date','dec temperature'])
df_dec.set_index(df_dec['date'], drop=True, inplace=True)

In [104]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec = df_dec.sort_index()
df_dec.describe()

       dec temperature
count      1517.000000
mean         71.041529
std           3.745920
min          56.000000
25%          69.000000
50%          71.000000
75%          74.000000
max          83.000000